/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: green;
    /* Fondo verde */
    color: white;
    /* Letras blancas */
    font-size: 24px;
    /* Letras grandes */
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Altura completa de la pantalla */
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    text-align: center;
    flex-direction: column;
}

section {
    margin: 30px auto;
    padding: 20px;
    background-color: green;
    /* Fondo blanco para el formulario */
    border-radius: 8px;
    max-width: 80rem;
    width: 100%;
    /* Asegura que ocupe el ancho disponible */
    text-align: center;
    /* Centra el contenido dentro del section */
}

/* Títulos */
h1,
h2,
h3 {
    margin-bottom: 20px;
    /* Espacio inferior para separarlos del resto */
}

/* Estilos para el botón */
button {
    padding: 10px 20px;
    background: linear-gradient(to right, magenta, blue);
    /* Gradiente de magenta a azul */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    /* Bordes redondeados */
    font-size: 18px;
    /* Texto más grande */
    transition: background 0.3s ease;
    /* Transición suave para el hover */
    margin-top: 20px;
    /* Espacio arriba del botón */
}

.btn-empezar {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* Para animar el cambio de sombra al pasar el mouse */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra básica */

}

button:hover {
    background: linear-gradient(to right, blue, magenta);
    /* Invertir gradiente en hover */
    box-shadow: 10em;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

/* Estilos para el formulario */
.abm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el formulario */
    justify-content: center;
    gap: 10px;
    /* Espacio entre elementos */
}

label,
input {
    padding: 10px;
    font-size: 18px;
    /* Tamaño de la fuente más grande */
}

label {
    font-size: 20px;
    /* Etiquetas grandes */
}

/* Estilos para el input */
input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 250px;
}

/* Estilos para las opciones */
.opciones {
    display: flex;
    justify-content: center;
}

.opciones label {
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Estilos para el contador */
.contador {
    font-size: 1.5em;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.siguiente-btn {
    padding: 10px;
    font-size: 18px;
}