body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

section {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80rem;
}

h1,
h2,
h3 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.abm-form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    padding: 10px;
}

.guardar-btn,
.cancelar-btn {
    margin: 10px;
}

.opciones {
    display: flex;
    justify-content: center;
}

.opciones label {
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.contador {
    font-size: 1.5em;
    color: red;
    margin: 10px 0;
}

